@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.forecast-day {
    display: inline-block;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin: 15px 0 0 0;
    font-weight: 400;
}

.forecast-day {
    border-color: #FCB4B4;
    font-weight: bolder;
}

.forecast-day:first-of-type {
    margin: 0;
}

.forecast-day .day-description {
    text-transform: capitalize;
}

.forecast-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.forecast-weather .weather-description {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
}

.no-forest {
    font-family:'Montserrat', sans-serif;
    color: #899DDD;
    font-weight: bolder;
    text-align: center;
}