@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.main-eenstad {
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    width: 98%;
    height: 85em;
}

.main-eenstad {
    font-family: 'Montserrat', sans-serif;
}

.weather-img {
    left: 0.8em;
    width: 300px;
}

.weather-header1{
    margin-left: 5em;
}

.start {
    margin-top: 18em;
}

.zoek {
    position: absolute;
    left: 43%;
}

.metric {

}

.first-row {
    float: right;
    width: 20%;
    padding: 5px;

}

.second-row {
    float: right;
    width: 20%;
    padding: 5px;
}

.third-row {
    float: right;
    width: 20%;
    padding: 5px;
}

.box {
    background-color: #FCB4B4 ;
    border: 3px;
    border-radius: 1em;
    height: 200px;
    -webkit-box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.32);
    box-shadow: 5px 0px 10px 0px rgba(0,0,0,0.32);
    padding: 0.8em;
}

.box {
    text-align: center;
    color: white;
}

.week {
    height: auto;
    float: top;
    position: relative;
}

.week {
    position: absolute;
    top: 21em;
    right: 0.8em;
    margin: 6em;

}

.six {
    height: auto;
    float: top;
    position: relative;


}

.six {
    position: absolute;
    top: 35em;
    right: 0.8em;
    margin: 6em;
    width: 2000px;

}

p {
    font-size: 20px;
}

@media screen and (max-width: 1800px) {
    .six {
        position: absolute;
        top: 35em;
        right: 0.8em;
        margin: 6em;
        width: 1500px;
    }

}

@media screen and (max-width: 1500px) {
    .six {
        position: absolute;
        top: 35em;
        right: 0.8em;
        margin: 6em;
        width: 1000px;
    }

    p {
        font-size: 12px;
    }

}


@media screen and (max-width: 1200px) {
    .six {
        position: absolute;
        top: 55em;
        margin-left: 2em;
        width: 800px;
        left: 1%;
    }

    .week {
        height: auto;
        position: relative;
    }

    .week {
        position: absolute;
        top: 75em;
        right: 0.8em;
        left: 1%;
    }

    .week {
        font-max-size: 12px;
    }

    .first-row {
        float: left;
        width: 25%;
        padding: 5px;
        margin-left: 2em;
    }

    .second-row {
        float: left;
        width: 25%;
        padding: 5px;
        margin-left: 2em;
    }

    .third-row {
        float: left;
        width: 25%;
        padding: 5px;
        margin-left: 2em;
    }

    .box > h1 {
        font-size: 20px;
    }
    .box {
        height: 100px;
        width: 100%;
        font-size: 20px;
    }

    .start {
        position: absolute;
        left: 30%;
        margin-top: 8em;
    }

    .metric {
        margin-top: 80em;
    }

    .main-eenstad {
        height: 100em;
    }

}

@media screen and (max-width: 850px) {
    .third-row {
        width: 6em;
    }

    .second-row {
        width: 6em;
    }

    .first-row {
        width: 6em;
        margin-left: 0.5em;
    }

    .metric {
        margin-top: 92em;
    }

    .six {
        margin-top: 2em;
    }

    .week {
        margin-top: 3.5em;
    }

    .zoek {
        position: absolute;
        left: 30%;
    }

    .main-eenstad {
        height: 110em;
    }
}