@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.register-page {
    display: flex;
    width: 100%;
    height: 90vh;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-aanmelden {
    background-color: white;
    border-radius: 2em;
    padding: 1em;
    width: 98%;
    height: 50em;
}


@media screen and (max-width: 950px) {
    .img-container {

    }
}